.navbar {
    /* Layout */
    display: flex;
    align-items: center;

    /* Positioning */
    position: fixed;
    top: 20px;
    z-index: 2;

    /* Navbar Styling & Visuals */
    background: var(--color-ui-purple);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    
    width: 95%;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 2rem;
    
    /* Parameters I don't want to use for now. */
    /* width: max-content; */ /* Sets navbar to only be as wide as its content*/
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}